@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
body {
    background: linear-gradient(to left, #d9a7c7, #fffcdc);
}
header {
    background: url("./img/bk-product-bg.jpg");
    width: 100%;
}
a {
    /* background: transparent; */
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: center;
    text-decoration: none;
}
nav {
    max-width: 1180px;
        height: 90px;
    margin: 0px auto;
    display: -webkit-flex;
    display: flex;
        -ms-align-items: center;
    align-items: center;
}
.hero {
    height: 30em;
    background: #ffc0cb;
}
.top-nav {
    height: 1.2em;
    width: 100%;
     background: linear-gradient(to left, #800080, #ffc0cb);
}
.bottom-nav {
    height: 1.2em;
    width: 100%;
     background: linear-gradient(to left, #800080, #ffc0cb);
}
.nav {
    display: inline-block;
    margin-left: -90px;
}
ul {
        display: -webkit-flex;
        display: flex;
    list-style: none;
    align-content: space-between;
    margin-top: 15px;
    font-size: 1.1em;
}
ul li a {
    color: #d22fef;
    font-size: 1.5em;
    font-family: 'Amaranth', sans-serif;
    margin: 0 0 -30px 20px;
    
    padding: 10px;
    padding-top: 350px;
    border-radius: 5px;
}
.nav__icon,
.nav__icon span {
    display: none;
}
.nav__icon {
    width: 36px;
    height: 28px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}
.nav__icon span {
    background: rgb(230, 12, 12);
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
}
.nav__icon span:nth-of-type(1) {
    top: 0;
}
.nav__icon span:nth-of-type(2) {
    top: 12px;
}
.nav__icon span:nth-of-type(3) {
    bottom: 0;
}
.nav__icon.active span:nth-of-type(1) {
    -webkit-transform: translateY(12px) rotate(-45deg);
    transform: translateY(12px) rotate(-45deg);
}
.nav__icon.active span:nth-of-type(2) {
    display: none;
}
.nav__icon.active span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(45deg);
    transform: translateY(-12px) rotate(45deg);
}
@media only screen and (max-width: 700px) {
    header {
        position: relative;
        z-index: 999;
    }
    h1 {
        margin: 0 auto;
        }
        ul {
                -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
                background: rgba(0, 0, 0, .8);
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        z-index: 980;
    }
    ul li {
        padding: 10px;
        text-align: center;
    }
    ul li a {
        display: block;
        /* background: transparent; */
        margin: 0px;
        padding: 20px;
    }
    ul li a:hover {
        color: #e71111;
        background: #fff;
    }
    .nav__icon,
    .nav__icon span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        z-index: 999;
    }
}
.hero {
width: 100%;
height: 25em;
min-width: 100%;
min-height: 100%;
background-image: url("http://www.sclance.com/backgrounds/food-background-images/food-background-images_979635.png");
background-size: cover;
}
#color-overlay {
    width: 100%;
    height: 25em;
   position: absolute;
       background: linear-gradient(to right, #ff6e7f, #bfe9ff); 
   opacity: 0.4;
}
.flex-center {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
}
.hero-message {
    margin-top: 5em;
    position: relative;
color: #b19cd9;
text-shadow: #343a40 2px 2px;
min-width: 100%;
min-height: 12em;
position: relative;
}
.hero-message::before {
margin-left: 25%;
min-width: 50%;
min-height: 12em;
}
.hero-sub-title {
font-family: 'Amaranth', cursive;
color: hotpink !important;
}
.hero-title,
.hero-sub-title {
width: 100%;
text-align: center;
}
.hero-title {
margin: .5% 0;
font-size: 6em;
font-family: 'Lacquer', cursive;
}
@media (min-width: 320px) {
.hero::before {
background-image: url("http://www.sclance.com/backgrounds/food-background-images/food-background-images_979635.png");
}
}
@media (min-width: 460px) {
.hero::before {
background-image: url("http://www.sclance.com/backgrounds/food-background-images/food-background-images_979635.png");
}
}
@media (min-width: 720px) {
.hero::before {
background-image: url("http://www.sclance.com/backgrounds/food-background-images/food-background-images_979635.png");
}
}
@media (min-width: 980px) {
.hero::before {
background-image: url("http://www.sclance.com/backgrounds/food-background-images/food-background-images_979635.png");
}
}
@media (min-width: 1240px) {
.hero::before {
background-image: url("http://www.sclance.com/backgrounds/food-background-images/food-background-images_979635.png");
}
}
@media (min-width: 1500px) {
.hero::before {
background-image: url("http://www.sclance.com/backgrounds/food-background-images/food-background-images_979635.png");
}
}
@media (min-width: 1760px) {
.hero::before {
background-image: url("http://www.sclance.com/backgrounds/food-background-images/food-background-images_979635.png");
}
}
@media(min-width:720px) {
.hero-message {
min-width: 50%;
min-height: 12em;
}
}