.mainFooter {
  width: 100%;
  background: rgb(223, 187, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
  font-family: Georgia;
  color: #fff;
  margin-bottom: -10%
}
.mainFooter p {
  padding: 5px;
}

@media (max-width: 500px) {
  .mainFooter {
    background-color: orange;
  }
  .mainFooter p {
    font-size: 14px;
  }
}
